body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b4664; 

}

.logo{
    margin-top: 60px;
    font-size: 90px;
 /*    font-family: 'Aclonica'; */
    color:rgb(240, 230, 230);
    font-family: 'Calculator', sans-serif;
}

.main-container{
    
/*     border: 5px solid black; */
    height: 700px;
    width: 500px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}


.button-container{
    background-color: #192035;
/*     border: 5px solid black; */
    margin: 15px;
    margin-top: 5px;
    border-radius: 15px;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px #b0b2bb; 
}

.row{
    /*   border: 5px solid black; */
    margin: 3px;
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
}

button{
    background-color:#eae3db;
    padding: 8px 8px;
    font-size: 40px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
    flex: 1 0 0;
    box-shadow: 0 5px grey;
    border:none;
    border-radius: 15px;
    font-family: 'Calculator', sans-serif;
}

button:active {
    background-color:#eae3db;
    box-shadow: 0 0px grey;
    transform: translateY(4px);
  }

  .blue-button{
      font-size: 30px;
    color: white;
    background-color: #445b9c;
    box-shadow: 0 5px #2f447c;
}
.blue-button:active{
    background-color: #445b9c;
    box-shadow: 0 0px #2f447c;
}

.red-button{
    font-size: 40px;
    color: white;
    background-color: #d13f30;
    box-shadow: 0 5px #a02315;
}

.red-button:active{
    background-color: #d13f30;
    box-shadow: 0 0px #a02315;
}

.display-container{
    overflow:hidden;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #161d32;
    margin: 15px;
    border-radius: 15px;
    min-height: 150px;
    box-shadow: 10px 10px #b0b2bb;
}

.display{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #161d32;
    border-radius: 15px;
    min-height: 150px;
    background-color: #859249;
    
}



.input-display{
    
    align-self: flex-end;
    margin: 5px;
    font-size: 70px;
    color:black;
    font-family: 'Calculator', sans-serif;
}

.operation-display{
    align-self: flex-end;
 /*    border: 5px solid black; */
    margin: 5px;
    font-size: 30px;
    color:black;
    font-family: 'Calculator', sans-serif;
}